body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
  }
  
  span {
    position: relative;
    display: block;
    width: 40px;
    background-color: #b1060f;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  span:nth-child(1) {
    animation: ease-in-out grow 300ms forwards;
    animation-delay: 800ms; /* para a animação acompanhar o tempo de carregamento da página */
  }
  
  span:nth-child(2) {
    transform: skew(18deg);
    box-shadow: 0 0 20px 2px rgb(0, 0, 0, 0.5);
    animation: ease-in-out revese-grow 300ms forwards;
    animation-delay: 1100ms;
    left: 0;
    animation-direction: alternate;
  }
  
  span:nth-child(3) {
    animation: ease-in-out grow 300ms forwards;
    animation-delay: 1400ms;
    z-index: -1;
  }
  
  @keyframes grow {
    0% {
      height: 0px;
      top: calc(225px / 2);
    }
    100% {
      height: 225px;
      top: 0;
    }
  }
  
  @keyframes revese-grow {
    0% {
      left: -35px;
      height: 0px;
      bottom: calc(225px / 2);
    }
    100% {
      height: 225px;
      bottom: 0;
      left: 0;
    }
  }
  